@model CMBooks.BusinessLogic.Models.BookViewModel

@if (Model.Comments != null)
{
    foreach (var comment in Model.Comments)
    {
    <div id="comment-container-@comment.Id">
        <p><strong>@comment.UserName</strong>  @comment.AddedAt</p>
        <p>@comment.Comment1</p>
        @if(Session["isAdmin"] != null && Session["isAdmin"].ToString().ToLower() == "true"){
            <p onclick="deleteComment('@comment.Id')">Delete</p>
        }
    </div>
    }
}
