@model IList<CMBooks.DataLayer.Book>
@{
    ViewBag.Title = "Home Page";
    if (Session["UserId"] == null)
    {
        Response.Redirect("~/Account/Index");
    }

}
@Styles.Render("~/Content/books-gallery")


<div class="grid-container">
    <div class="header">
        <p style="float:left;font-size:30px;"> CMBooks</p>
        <button style=" background-color: transparent;color: black;border:transparent;float:right;font-size:20px">Sign out</button>
    </div>

    <div class="left" style="background-color:#aaa;">
        <button class="filter-button" onclick="filter('')">All</button>
        <button class="filter-button" onclick="filter('Romantic')">Romantic</button>
        <button class="filter-button" onclick="filter('Mistery')">Mistery</button>
        <button class="filter-button" onclick="filter('Horror')">Horror</button>
    </div>
    <div class="middle" style="background-color:#bbb;">
        <div id="partial-view">
            @Html.Partial("_BooksGallery", Model);
        </div>
    </div>

</div>

@Scripts.Render("~/bundles/books-gallery")
@*@section scripts{
    <script>
        var bvTireRating = 3.3;
        // multiply by 20 to get percentage
        var starRating = bvTireRating * 8.5;
        // set the width of the stars
        $('.star-ratings-top').width(starRating + '%');
    </script>
}*@
